* {
    box-sizing: border-box;
}

/* Set the colors for the variables */
:root {
    --light-green: rgb(56, 84, 45);
    --dark-green: rgb(40, 61, 45);
    --transparent-dg: rgb(40, 61, 45, 0.6);
    --transparent-white: rgba(255, 255, 255, 0.332);
}

/* Sets page height for the header backgroud image */
body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--transparent-dg) ;
}

/* Background image added to header */
.header-image {
    background-image: url("/assets/images/background.JPG");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Text box made to go around h1  */
.text-box {
    display: flex;
    justify-content: center;
    background-color: var(--transparent-dg);
    color: white;
    padding: 25px;
    border: 8px ridge var(--dark-green);

}

/* Style for the header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* Styling for the nav bar */
nav {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    background-color: var(--dark-green);
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

nav a:hover {
    background-color: var(--light-green);
}

main {
    display: flex;
    margin: 25px 0;
}

/* Styling for the aside section */
aside {
    flex: 35%;
    flex-wrap: wrap;
    padding: 5px;
    background-color: var(--transparent-dg);
    text-align: center;
    border: 8px ridge white;
    color: white;
}

/* Changed avatar image size and added a border */
img {
    width: 40%;
    border: 7px ridge var(--dark-green);
}

/* Stlying the works section */
section {
    flex: 55%;
    background-color: var(--transparent-white);
    border-top: 8px ridge white;
    border-bottom: 8px ridge white;
    border-right: 8px ridge white;
}

/* Styling for the individual projects of the works section */
.project1-sf {
    display: flex;
    justify-content: center;
    height: 40%;
    align-items: center;
    background-image: url("/assets/images/project1-bg.png");
    background-size: cover;
    border-top: 6px ridge white;    
}

.other-projects {
    display: flex;
    /* align-items: flex-end; */
    width: 50%;
    height: 23.62%;
    align-items: center;
    background-image: url("/assets/images/projects-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    border-top: 6px ridge white;
}

/* Float and border added to project 2 and 4 */
.float-border {
    float: inline-start;
    border-right: 6px ridge white;
}

h2 {
    color: white;
    text-align: center;
}

/* Styling the anchor tag for the works section */
div a {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: var(--transparent-white);
    padding: 0% 4%;
}

div a:hover {
    color: var(--dark-green);
    background-color: white;
}

/* Styling for footer */
footer {
    background-color: var(--dark-green);
    color: white;
    padding: 25px;
}


/* Media Queries added for responsiveness */

@media screen and (max-width: 1449px) {
    .other-projects {
        height: 23.86%;
    }
}
@media screen and (max-width: 1415px) {
    .other-projects {
        height: 23.81%;
    }
}

@media screen and (max-width: 1365px) {
    .other-projects {
        height: 23.7%;
    }
}

@media screen and (max-width: 1328px) {
    .other-projects {
        height: 23.61%;
    }
}

@media screen and (max-width: 1024px) {
    .other-projects {
        height: 23.5%;
    }
}

@media screen and (max-width: 1000px) {
    .other-projects {
        height: 23.72%;
    }
}
@media screen and (max-width: 936px) {
    .other-projects {
        height: 23.58%;
    }
}

@media screen and (max-width: 858px) {
    .other-projects {
        height: 23.81%;
    }
}
@media screen and (max-width: 808px) {
    .other-projects {
        height: 23.9%;
    }
}


@media screen and (max-width: 768px) {
    .header-image {
        height: 78%;
    }

    main, nav {
        flex-direction: column;
    }
    
    section {
        border-left: 8px ridge white;
        border-top: none;
    }

    .project1-sf {
        height: 9em;
    }

    .other-projects {
        height: 6em;
    }
}